.todo {
    margin: auto;
    width: 50%;
    padding: 1rem;
    box-shadow: -1px 3px 5px 15px #888888;
    background-color: azure !important;

    .lineThrough {
        text-decoration: line-through;
    }
}